# ==========================================
# Archivos de Compilación de Maven
# ==========================================
target/
*.class
*.jar
*.war
*.ear

# ==========================================
# Configuración e Indexación de VS Code
# ==========================================
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# ==========================================
# Archivos de IDEs adicionales (Eclipse/IntelliJ)
# ==========================================
.settings/
.project
.classpath
.idea/
*.iml

# ==========================================
# Registros y Archivos Temporales del SO
# ==========================================
*.log
.DS_Store
Thumbs.db